.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
 }
 
 .con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
 }
 
 .myform {
  border: 3px solid #f1f1f1;
 }

 .title{
  padding-bottom: 3rem;
  align-self: center;
 }
 
 .inputText,
 .inputPassword {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px; /* Add this line */
 }
 
 .inputText::placeholder,
 .inputPassword::placeholder {
  color: var(--text); /* Change this to your desired color */
  font-size: 1rem;
 }

 .myButton {
  background-color: #485559;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
 }
 
 .myButton:hover {
  opacity: 0.8;
 }

 .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
 }
 
 .avatar {
  width: 40%;
  border-radius: 50%;
 }


 .container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 2rem;
  background-color: var(--secondary);
  width: 20rem;
 }
 
 
 .bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 .psw {
  padding-bottom: 16px;
 }
 
 .buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 .sign {
  padding-top: 16px;
  align-self: center;
 }
 
 @media screen and (max-width: 600px) {
  .myform {
    width: 100%;
  }
 
  .myButton {
    width: 100%;
  }
 
  .buttonContainer {
    flex-direction: column;
  } 
  
  .container {
    width: 100%;
  }
 }
 