.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headtxt {
    font-size: 3em;
    font-weight: bold;
}

.subtxt {
    font-weight: 600;
    font-size: 1.4em;
    width: 85vw;
}

.secondtxt {
    margin-top: .4em;
    font-weight: bold;
    font-size: 1.4em;
}

.normtxt {
    font-size: 1em;
    font-weight: 400;
}

.high {
    color: var(--primary);
}

.high2 {
    color: var(--accent);
}

.high2:hover {
    color: var(--primary);
}

.about_page {
    position: absolute;
    width: 100vw;
    height: 100vh;

    overflow-y: auto;

    background-color: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_1 {
    width: 100%;
    height: 28vh;
    margin-top: 5em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_2 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.team_cont {
    width: 100%;
    margin-top: 1em;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;


}

.team_box {
    margin: 1em;
    width: 18em;
    height: 24em;

    background: var(--secondary);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    border-radius: 20px;

}

.team_box > * {
    transform: translateY(-40px);
}

.image {
    
    border-radius: 30px;
}