.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    position: absolute;
    display: flex;
    flex-direction: row;

    align-items: center;

    width: 100vw;
    height: 100%;
    
    background-color: var(--background);

    overflow-y: auto;
}

.left_box {
    width: 60%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left_cont {
    width: 55%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right_box {
    width: 40%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_cont {
    width: 25em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headtxt {
    font-size: 3em;
    font-weight: bold;
}

.subtxt {
    font-size: .8em;
}

.label {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .2em;
}

.secondtxt {
    font-size: 1em;
}

.input_cont {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: .6em;
}

.input {
    width: 100%;
    background: var(--input_bg);
    padding: .5em;
    color: var(--input_txt);
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid var(--accent);
}

.txtbox {
    width: 100%;
    height: 8em;
    background: var(--input_bg);
    padding: .5em;
    color: var(--input_txt);
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid var(--accent);
    resize: none;
}

.form_button {
    cursor: pointer;
    width: 90%;
    height: 2.5em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    color: var(--input_bg);
    background: var(--confirm);
    margin: .6em 0 .4em 0;

    transition: opacity ease 300ms;
}

.form_button:hover {
    opacity: 60%;
}

.cont_icn * {
    color: var(--accent);
    transition: color ease-in 400ms;
}

.cont_icn *:hover {
    color: var(--primary);
}