.login_bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.45);
}

.login_box {
    width: 20em;
    height: 25em;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.box_close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: .6em;
    margin-right: .6em;
}

.close_button {
    font-size: 1em;
    background: none;
}

.close_button * {
    aspect-ratio: 1;
    background: var(--secondary);
    padding: .2em;
    border-radius: 1em;
    
    transition: opacity ease 300ms;
}

.close_button:hover *,
.close_button *:hover {
    cursor: pointer;

    opacity: 60%;
}

.signIn,
.signUp {
    display: flex;
    padding: .6em;

    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

.maintxt {
    margin-bottom: .5em;
    font-size: 2em;
    font-weight: bold;
}

.label {
    font-weight: bold;
    font-size: .6em;
    margin-bottom: .2em;
}

.secondtxt {
    font-size: 1em;
}

.input_cont {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: .6em;
}

.input {
    width: 100%;
    background: var(--input_bg);
    padding: .5em;
    color: var(--input_txt);
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid var(--accent);
}

.sign_txt {
    margin-top: 1em;
    font-size: .6em;
}

.sign_txt_act {
    cursor: pointer;
    color: var(--accent);
    transition: opacity ease 200ms;
}

.sign_txt_act:hover {
    opacity: 60%;
}

.form_button {
    cursor: pointer;
    width: 90%;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    color: var(--input_bg);
    background: var(--confirm);
    margin: .6em 0 .4em 0;

    transition: opacity ease 300ms;
}

.form_button:hover {
    opacity: 60%;
}