.temp {
    position: fixed;

    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--text);
    color: var(--background);
    z-index: 1;
}

.map {
    position: fixed;
    width: 100%;
    height: 100%;
}